<%- include('./partials/header.ejs') %>     


    <section class="container mt-4 text-white text-center">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Filename</th>
                  <th scope="col">No of email sent</th>
                  <th scope="col">No of downloads</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                </tr>
                
              </tbody>
            </table>
            </div>
          </div>
      </section>



  </body>
  <script src="\bootstrap-5\js\Jquery.js"></script>
  <script src="\bootstrap-5\js\bootstrap.min.js"></script>
  </html>