<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="\imgs\icons8_hospital_3.ico" type="image/x-icon">
    <title>Hospital | SignIn</title>
    <link rel="stylesheet" href="/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-5/css/styles.css">
</head>
<body>
    <div class="container text-center mt-5">
        <a href="/"><img src="/health/public/img/logo.png" alt="" class="img-fluid"></a>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-4">                
                <div class="card register">
                    <div class="card-header text-white">
                        <h4>Recover-Password</h4>
                    </div>
                    <div class="card-body">
                      
                        <!-- /:token/reset-password -->
                        <form action="reset-password" method="POST">
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="New password" required>
                            </div><br>
                            <div class="form-group">
                                <input type="password1" name="password1" class="form-control" placeholder="confirm password" required>
                            </div><br>
                           <br>
                            <button type="submit" class="btn btn-block btn1">Recover</button>
                            <p class="text-center mt-3">Don't have an Account? <a href="/users/register">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script src="/bootstrap-5/js/Jquery.js"></script>
    <script src="/bootstrap-5/js/bootstrap.min.js"></script>    
</body>
</html>