<!-- registration-success.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Registration Success</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/script.js"></script>
</head>
<body>
  <h1>Registration Success</h1>

  <script>

    alert('User created successfully');
  
  
  </script>
</body>
</html>
